.backcolor {
    background-color: orange
  }
.pud{
    padding-right: 2%;
}
.allpudding{
    border-radius:0.4em
}
.toright{
     margin-left: 4.5cm;
}
.toright2{
    margin-left: 3cm;
}
.toright3{
    margin-left: 0.35cm;
}
.toright4{
    margin-left: 14.5cm;
}
.toright5{
    margin-left: 2cm;
}