.main-container {
    place-items: center center;
  }
  
  #sign-in-form {
    max-width: 330px;
  }
  .backimg{
    background-image: url(https://source.unsplash.com/random/?supermarket);
  }
  .bootstrap-logo {
    width: 100px;
    height: 100px;
  }
  
  .form-control:focus {
    z-index: 5;
  }
  .imag{
   height: 450px;
   width: 650px;
   place-items: center center
  }
